<mat-form-field class="mt-2 mb-1">
  <mat-label>Rechercher un bonus d'almanax</mat-label>
  <input matInput #searchBar (keyup)="search(searchBar.value)" placeholder="Par exemple bijoutier">
</mat-form-field>

<mat-list>
  <div *ngFor="let offering of offerings$ | async">
    <mat-list-item>
      <img matListAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg">
      <h3 matLine> {{offering.bonus}} </h3>
      <p matLine>
        {{offering.quantity}}
        &mdash;
        {{offering.offering}}
      </p>
      <p matLine>{{offering.description}}</p>
      <div>{{offering.date}}</div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</mat-list>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
